@media only screen and (min-width : 280px) and ( max-width : 600px) /* Vista desde celulares */
{
    .containerComplement 
    {
        width: 80vw;
        height : 380px;
        margin-top : auto;
        margin-bottom : auto;
        border-radius : 50px;
        margin-right : 18%;
        margin-left : auto;
        box-shadow: 0px 7px 16px gray;
    }
    .customButtons
    {
        
        border-radius : 30px;
        border-width : 0px;
        width : 40vw;
        height: 3em;
        margin-top : 24%;
        background-image: linear-gradient(to right, #8F2A92 , #E11085);
        color : white;
        font-family: quicksand;   
        font-size: 90%;
    }
    .customInputs
    {
        width: 80%;
        height: 2.5em;
        border-radius: 20px;
        border-width: 0px;
        font-family : quicksand;
        text-align : center;
    }
    .textos
    {
        font-family: quicksand;
        font-size: 0.9em;
        font-weight: 550;
        color : #575757;

    }
    .row
    {
        flex-direction: column;
        display: block;
    }
    .iconoPerc
    {
        color : #B39FB6;
        margin-top: -41% ;
        font-size: 4vw ;
        margin-bottom: 8vw;
    }
    .textosResumen
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 3vw;
        margin-left: 15%;
        text-align: left;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 3vw;
        margin-right: 10%;
    }
    .tituloAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 1.4vw;
        text-align: center;
    }
    .valorAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 4.4vw;
        text-align: center;
        margin-top: -9%;
    }
}
@media only screen and (min-width : 500) and (max-width : 800) and (max-height : 400px) /* Vista desde celulares volteado */
{
    .containerComplement 
    {
        width: 47vw;
        height : 313px;
        margin-top : auto;
        margin-bottom : auto;
        border-radius : 50px;
        margin-right : 26%;
        margin-left : auto;
        box-shadow: 0px 7px 16px gray;
    }
    .customButtons
    {
        
        border-radius : 30px;
        border-width : 0px;
        width : 35vw;
        height: 2.5em;
        margin-top : 8%;
        background-image: linear-gradient(to right, #8F2A92 , #E11085);
        color : white;
        font-family: quicksand;   
        font-size: 90%;
        font-weight: 500;


    }
    .customInputs
    {
        width: 80%;
        height: 2.5em;
        border-radius: 20px;
        border-width: 0px;
        font-family : quicksand;
        text-align : center;
        font-weight: 500;

    }
    .textos
    {
        font-family: quicksand;
        font-size: 0.9em;
        font-weight: 550;
        color : #575757;

    }
    .row
    {
        flex-direction: column;
        display: block;
    }
    .iconoPerc
    {
        color : #B39FB6;
        margin-top: 39% ;
        font-size: 4vw ;
        margin-bottom: 10vw;
    }
    .textosResumen
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 2.5vw;
        margin-left: 15%;
        text-align: left;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 1.7vw;
        margin-right: 10%;
    }
    .tituloAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 1.4vw;
        text-align: center;
    }
    .valorAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 4.4vw;
        text-align: center;
        margin-top: -9%;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 1.5vw;
        margin-right: 10%;
    }
}
@media only screen and (min-width : 600px) and ( max-width : 800px)
{
    .containerComplement 
    {
        width: 51%;
        height : 313px;
        margin-top : auto;
        margin-bottom : auto;
        border-radius : 55px;
        margin-right : 27%;
        margin-left : auto;
        box-shadow: 0px 7px 16px gray;
    }
    .customButtons
    {
        
        border-radius : 30px;
        border-width : 0px;
        width : 26vw;
        height: 3em;
        margin-top : 24%;
        background-image: linear-gradient(to right, #8F2A92 , #E11085);
        color : white;
        font-family: quicksand;   
        font-size: 90%;
        font-weight: 500;

    }
    .customInputs
    {
        width: 55%;
        min-width: 15%;
        height: 2.5em;
        border-radius: 20px;
        border-width: 0px;
        font-family : quicksand;
        text-align : center;
        font-weight: 500;

    }
    .textos
    {
        font-family: quicksand;
        font-size: 0.9em;
        font-weight: 550;
        color : #575757;

    }
    .iconoPerc
    {
        color : #B39FB6;
        margin-top: -39% ;
        font-size: 4vw ;
        margin-bottom: 13vw;
    }
    .row
    {
        flex-direction: column;
        display: block;
    }
    .textosResumen
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 3vw;
        margin-left: 15%;
        text-align: left;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 3vw;
        margin-right: 10%;
    }
    .tituloAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 1.4vw;
        text-align: center;
    }
    .valorAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 4.4vw;
        text-align: center;
        margin-top: -9%;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 2.5vw;
        margin-right: 10%;
    }
    #chart
    {
        display: flex;
        width: 57vw !important;
        height: 24vw !important;
    }
}
@media only screen and (min-width : 800px) and ( max-width : 900px)
{
    .containerComplement 
    {
        width: 51vw;
        height : 313px;
        margin-top : auto;
        margin-bottom : auto;
        border-radius : 56px;
        margin-right : 24%;
        margin-left : auto;
        box-shadow: 0px 7px 16px gray;
    
    }
    .customButtons
    {
        border-radius : 30px;
        border-width : 0px;
        width : 22vw;
        height: 3em;
        margin-top : 24%;
        background-image: linear-gradient(to right, #8F2A92 , #E11085);
        color : white;
        font-family: quicksand;   
        font-size: 90%;
        font-weight: 500;

    }
    .customInputs
    {
        width: 55%;
        min-width: 15%;
        height: 2.5em;
        border-radius: 20px;
        border-width: 0px;
        font-family : quicksand;
        text-align : center;
        font-weight: 500;

    }
    .textos
    {
        font-family: quicksand;
        font-size: 1em;
        font-weight: 550;
        color : #575757;

    }
    .iconoPerc
    {
        color : #B39FB6;
        margin-top: -43% ;
        font-size: 4vw ;
        margin-bottom: 8vw;
    }
    .textosResumen
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 2vw;
        margin-left: 15%;
        text-align: left;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 1.7vw;
        margin-right: 10%;
    }
    .tituloAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 1.4vw;
        text-align: center;
    }
    .valorAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 4.4vw;
        text-align: center;
        margin-top: -9%;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 1.5vw;
        margin-right: 10%;
    }

}
@media only screen and (min-width : 900px) and ( max-width : 1200px)
{
    .containerComplement 
    {
        width: 66vw;
        height : 550px;
        margin-top : auto;
        margin-bottom : auto;
        border-radius : 77px;
        margin-right : 18%;
        margin-left : auto;
        box-shadow: 0px 7px 16px gray;
    
    }
    .customButtons
    {
        border-radius : 30px;
        border-width : 0px;
        width : 22vw;
        height: 3em;
        margin-top : 24%;
        background-image: linear-gradient(to right, #8F2A92 , #E11085);
        color : white;
        font-family: quicksand;   
        font-size: 90%;
        font-weight: 500;

    }
    .customInputs
    {
        width: 55%;
        min-width: 15%;
        height: 2.5em;
        border-radius: 20px;
        border-width: 0px;
        font-family : quicksand;
        text-align : center;
        font-weight: 500;

    }
    .textos
    {
        font-family: quicksand;
        font-size: 1em;
        font-weight: 550;
        color : #575757;

    }
    .iconoPerc
    {
        color : #B39FB6;
        margin-top: -45% ;
        font-size: 4vw ;
        margin-bottom: 8vw;
    }
    .textosResumen
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 1.5vw;
        margin-left: 15%;
        text-align: left;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 1.7vw;
        margin-right: 10%;
    }
    .tituloAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 1.4vw;
        text-align: center;
    }
    .valorAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 4.4vw;
        text-align: center;
        margin-top: -9%;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 1.5vw;
        margin-right: 10%;
    }
}
@media only screen and (min-width : 1200px)
{
    .containerComplement 
    {
        width: 38vw;
        height : 450px;
        margin-top : auto;
        margin-bottom : auto;
        border-radius : 77px;
        margin-right : 31%;
        margin-left : auto;
        box-shadow: 0px 7px 16px gray;
    
    }
    .customButtons
    {
        border-radius : 30px;
        border-width : 0px;
        width : 13vw;
        height: 3em;
        margin-top : 24%;
        background-image: linear-gradient(to right, #8F2A92 , #E11085);
        color : white;
        font-family: quicksand;   
        font-size: 90%;
        font-weight: 500;

    }
    .customInputs
    {
        width: 55%;
        min-width: 15%;
        height: 2.5em;
        border-radius: 20px;
        border-width: 0px;
        font-family : quicksand;
        text-align : center;
        font-weight: 500;
    }
    .textos
    {
        font-family: quicksand;
        font-size: 1em;
        font-weight: 550;
        color : #575757;
    }
    .iconoPerc
    {
        color : #B39FB6;
        margin-top: -37% ;
        font-size: 4vw ;
        margin-bottom: 7vw;
    }
    .textosResumen
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 1.4vw;
        margin-left: 15%;
        text-align: left;
    }
    .tituloAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #8F2A92;
        font-size: 1.4vw;
        text-align: center;
    }
    .valorAlerReci
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 4.4vw;
        text-align: center;
        margin-top: -9%;
    }
    .textoNumeroAlertas
    {
        font-family: quicksand;
        font-weight: 550;
        color : #06A3BF;
        font-size: 1.5vw;
        margin-right: 10%;
    }
    
    
    
}
.panelResumen
{
    background-color: #E0E0E0;
    width: 85%;
    height: 90%;
    border-radius: 50px;
    margin-left : auto;
    margin-right : auto;
    padding-top: 3%;
    flex-wrap: wrap;
}
.panelInfo
{
    display : flex;
    flex-direction : row;
    background-color: #E0E0E0;
    width: 93%;
    height: 84%;
    border-radius: 85px;
    margin-left : auto;
    margin-right : auto;
   
}
.panelNumAlerta
{
    display : flex;
    justify-content : center;
    align-items : center;
    padding : 5%;
    background-color: #E0E0E0;
    width: 90%;
    height: 86%;
    border-radius: 54px;
    margin-left : auto;
    margin-right : auto;
}
.panelGrafica
{
    display : flex;
    justify-content : center;
    align-items : center;
    padding : 0%;
    background-color: #E0E0E0;
    width: 87%;
    height: 92%;
    border-radius: 54px;
    margin-left : auto;
    margin-right : auto;
    flex-direction: column;
}
.panelNumEmple
{
    display : flex;
    justify-content : center;
    align-items : center;
    padding : 0%;
    background-color: #E0E0E0;
    width: 81%;
    height: 43%;
    border-radius: 47px;
    margin-left : auto;
    margin-right : auto;
    flex-direction: column;
    padding-top: 12%;

}
.panelNumAlerReci
{
    display : flex;
    justify-content : center;
    align-items : center;
    padding : 0%;
    background-color: #E0E0E0;
    width: 81%;
    height: 43%;
    border-radius: 47px;
    margin-left : auto;
    margin-right : auto;
    flex-direction: column;
    margin-top: 6%;
    padding-top: 12%;

}
.circuloDentro
{
    display : flex;
    justify-content : center;
    align-items : center;
    background-color: red;
    width: 165px;
    height: 165px;
    border-radius: 200px;
    position: absolute;
    margin-left : auto;
    margin-right : auto;
    margin-top: 9%;
    flex-direction: column;
}
.tituloResumen
{
    font-family: quicksand;
    font-weight: 600;
    color : #454545;
    margin-left: 12%;
    font-size: 1.5vw;
    text-align: left;
}
.tituloAlertasSem
{
    font-family: quicksand;
    font-weight: 600;
    color : #454545;
    margin-left: -28%;
    font-size: 1.5vw;
    text-align: left !important;
}
.circuloImgInfo
{
    display : flex;
    background-color : white;
    width : 6vw;
    height : 6vw;
    border-radius: 100px;
    border: 0px;
}
.contCirculoFoto
{
    display : flex;
    flex : 0.15;
    width : '50%';
    height : '100%';
    justify-content : center;
    align-items : center;

}
.contTexto {
    flex : 0.77;
    display : flex;
    /*backgroundColor : 'purple';*/
    width : 50%;
    height : 100%;
    justify-content : center;
    align-items : center;
}
.row
{
    margin-left: 0px;
    margin-right: 0px;
}
.contGra
{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: flex-start;
}
.textoGrande
{
    font-family: quicksand;
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    margin-top: 0.5%;
    margin-left: 0.5%;
}
